.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.clients__item {
  flex-basis: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: all 250ms var(--timing-fn);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}
.clients__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 3 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}
