@import '../components/current-nav';
.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  & .icon-cross {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  background-color: #ffffff;
  // padding: 15px 60px;
  text-align: center;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid #ececec;
    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}
.nav-list__link {
  padding: 11.5px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms var(--timing-fn);
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  &.current-nav {
    color: var(--accent-color);
  }
}
@media screen and (max-width: 767px) {
  .nav-list {
    margin-bottom: 60px;
    &__item:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
.nav-list__link.current-nav::after {
  display: block;
  margin-top: 8px;
}

.header-contact__mail-logo {
  fill: #757575;
  transition: fill 250ms var(--timing-fn);
}
.header-contact__tel-logo {
  fill: #757575;
  transition: fill 250ms var(--timing-fn);
}
.header-contact__mail {
  margin-bottom: 16px;
}
.header-contact__mail,
.header-contact__tel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  font-style: normal;

  transition: all 250ms var(--timing-fn);
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    & .header-contact__mail-logo,
    & .header-contact__tel-logo {
      fill: var(--accent-color);
    }
  }
}
.header-contact__mail-logo {
  display: inline-flex;
  margin-right: 10px;

  fill: #757575;
  transition: fill 250ms var(--timing-fn);
}
.header-contact__tel-logo {
  margin-right: 10px;
  // margin-left: 30px;
  fill: #757575;
  transition: fill 250ms var(--timing-fn);
}
.menu-button_icons:hover,
.menu-button_icons:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav-list__link {
    padding-top: 28px;
    padding-bottom: 33px;
  }
  .nav-list {
    // padding-top: 32px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }

  .header-contact {
    padding-top: 18px;
    padding-bottom: 17px;
  }
  .nav-list {
    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
  .nav-list__link {
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
  }
  .header-contact__mail,
  .header-contact__tel {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .header-contact {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-contact__mail {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 50px;
  }
  .nav-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
//
// .header {
//   padding-top: 32px;
//   padding-bottom: 26px;
//   border-bottom: 1px solid #ececec;
//   .container {
//     display: flex;
//     align-items: center;
//   }
//   .logo-dark {
//     margin-right: 93px;
//   }
// }
// .nav {
//   display: flex;
//   align-items: center;
// }

// .header-contact {
//   margin-left: auto;
// }

// .header-contact-tel {
//   margin-left: 50px;
//   margin-right: 0;
// }

// .header-contact__mail,
// .header-contact__tel {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.02em;
//   color: #757575;
//   font-style: normal;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   transition: all 250ms var(--timing-fn);
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//     fill: var(--accent-color);
//     & .header-contact__mail-logo,
//     & .header-contact__tel-logo {
//       fill: var(--accent-color);
//     }
//   }
// }
