.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  // margin-top: 50px;
}
.portfolio-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  &:hover,
  &:focus {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px #00000029;
  }
}
.card-content {
  padding: 20px 24px;
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
  }
  &__title {
    padding-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
  }
}

.portfolio__wrapper-img {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: white;
  padding: 77px 24px;
  transition: transform 250ms linear;
  transform: translateY(100%);

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translateY(0);
  }
}

@media screen and (max-width: 767px) {
  .portfolio__list {
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .portfolio-item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    margin: -15px;
  }
  .portfolio-item {
    max-width: 354px;
    margin: 15px;
  }
  .overlay {
    padding-top: 49px;
    padding-bottom: 49px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    padding-top: 63px;
    padding-bottom: 63px;
  }
  .portfolio-item {
    max-width: 370px;
  }
}

// .portfolio-item {
//   width: calc((100% - 60px) / 3);
//   margin-right: 30px;
//   margin-bottom: 30px;

//   background: #ffffff;
//   border: 1px solid #eeeeee;
//   transition: all 250ms var(--timing-fn);
//   &:nth-child(3n) {
//     margin-right: 0;
//   }
//   &:hover,
//   &:focus {
//     background: #ffffff;
//     border: 1px solid #eeeeee;
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px #00000029;
//   }
// }
