.team {
  background-color: #f5f4fa;
  &__item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__img {
    object-fit: cover;
  }

  &__person {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    &-job {
      margin-bottom: 16px;
      margin-top: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.187;
      text-align: center;
      letter-spacing: 0.03em;
      color: #757575;
    }
  }
}
.team_card-content {
  display: block;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 30px 32px 24px;
}
.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-fn);
  .social-list__item:hover &,
  .social-list__item:focus & {
    fill: #ffffff;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms var(--timing-fn);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  .team__list {
    flex-wrap: wrap;

    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  // .team {
  //   &__item {
  //     &:not(:last-child) {
  //       margin-bottom: 0px;
  //       margin-right: 0px;
  //     }
  //   }
  // }
  .team__title {
    margin-bottom: 30px;
  }
  .team__list {
    justify-content: space-between;
    // display: flex;
    margin: -15px;
  }
  .team__item {
    width: 270px;
  }
}
// @media screen and (min-width: 1200px) {
//   .team__img {
//     width: 270px;
//     height: 260px;
//   }
// }
