.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms var(--timing-fn);
  padding: 15px 94px;
  overflow-y: scroll;
}
/* ======================= backdrop =============== */
/* ======================= modal =============== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: #ffffff;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms var(--timing-fn);
}
.modal-form-field {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms var(--timing-fn);
}
.modal-form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  transition: border 250ms var(--timing-fn);
}
.modal-form-comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.modal-form-comment::placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy-text::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  margin-left: 12px;
  border: 2px solid #212121;
  border-radius: 4px;
  transition: all 250ms var(--timing-fn);
}
.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: var(--accent-color);
  background-image: url('../images/icon-tick.svg');
  border-color: var(--accent-color);
  background-size: cover;
  background-position: center;
}
.modal-form-policy-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
  /* margin-top: 20px; */
}
.moder-form-policy-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}
.modal-form-btn {
  width: 200px;

  align-items: center;
  margin: 0 auto;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  outline: none;
}
.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms var(--timing-fn);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
